<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HILab1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F30C443D1E4DF0B500462DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F30C44561E4DF0B500462DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F30C44611E4DF0B500462DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
